.cartWidget {
    font-size: 2rem;
    font-family: "TTChocolate";
}

.cartWidgetBtn {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    margin-right: 10px;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out all;
}

.cartWidget-active {
    visibility: visible;
    opacity: 1;
}

.cartCounter {
    font-size: 1.5rem;
    color: white;
    margin: auto;
    text-align: center;
    font-family: "TTChocolate";
}