.itemListMain {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemListBody {
    width: 100%;
    display: block;
}

.itemList_greeting {
    margin: auto;
}

.loader-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    pointer-events: none;
    width: 6rem;
}

.itemListContainer-body {
    height: max-content !important;
}