.header {
    background-color: rgb(140 103 186);
}

.header-container {
    display: flex;
    align-items: baseline;
}

.header-container p {
    color: white;
}

.header_logo {
    font-size: 2.5rem;
    color: white;
    margin: 0 10px;
    font-family: "TTChocolate";
}

.user-welcome {
    font-family: "TTChocolate";
}

.header_link {
    font-family: "TTChocolate";
    font-size: 1.2rem;
}

.header_link:hover {
    color: #680571;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}