.header-container {
    display: flex;
    align-items: baseline;
}

.header-container p {
    color: white;
}

.header_logo {
    font-size: 2.5rem;
    color: white;
    font-family: system-ui;
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-welcome {
    font-family: "TTChocolate";
}

.header_link {
    font-family: "TTChocolate";
    font-size: 1.2rem;
}

.header_link:hover {
    color: #a5a5a5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}